<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Left Side: Logo -->
    <a class="navbar-brand" href="#"><img src="logo.png" alt="logo"> </a>

    <!-- Hamburger Toggle Button for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Center: Collapsible Menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="menuItemSelected()">
          <a class="nav-link" (click)="home()">{{ 'HOME' | translate   }}</a>
        </li>
        <li class="nav-item" (click)="menuItemSelected()">
          <a class="nav-link" (click)="about()">{{ 'ABOUT' | translate }}</a>
        </li>
        <li class="nav-item" (click)="menuItemSelected()">
          <a class="nav-link" (click)="service()">{{'SERVICES' | translate}}</a>
        </li>
        <li class="nav-item" (click)="menuItemSelected()">
          <a class="nav-link" (click)="contact()">{{ 'CONTACT' | translate }}</a>
        </li>
      </ul>
      <div class="language-switch">
        <span>English</span>
        <label class="switch">
          <input type="checkbox" (change)="toggleLanguage($event)" />
          <span class="slider round"></span>
        </label>
        <span>French</span>
      </div>
      

      <!-- Right Side: Call Info inside Hamburger Menu -->
      <div class="d-flex flex-column call-info" style="cursor: pointer;" (click)="callIn();menuItemSelected()">
        <span class="fw-bold">Call Us Now!</span>
        <span class="phone-number">
          <i class="fas fa-phone"></i> +{{ phoneNum }}
        </span>
      </div>
    </div>
  </div>
</nav>
