.navbar {
    padding: 1rem 2rem;
    background-color: black !important;
  }
  .container-fluid{
    padding-top: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}
  .call-info {
    text-align: right;
  }
  .call-info .phone-number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .call-info .phone-number i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  .nav-link{
    color: #CAAA58;
    font-weight: bold;
  }
  