/* Footer Styling */
.footer {
  align-items: center;
  background-color: #000000; /* Black background */
  color: white; /* White text */
  padding: 20px 40px;
}

/* Footer Left */
.footer-left h3 {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

/* Footer Right */
.footer-right img {
  max-width: 100px; /* Adjust size of the payment logos */
  height: auto;
}
.footer-left img{
  width: 35vh;
  height: 25vh;
}

.copyright{
  display: flex;
  justify-content: center;
}
.arr{
  color: #FDD302;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .footer {
    padding: 15px 30px;
  }
  .footer-left h3 {
    font-size: 1rem;
  }
  .footer-right img {
    max-width: 90px;
  }
  .footer-left img{
    width: 35vh;
    height: 25vh;
  }
}

@media (max-width: 992px) {
  .footer {
    flex-direction: column; /* Stack content vertically */
    text-align: center;
    padding: 15px 20px;
  }
  .footer-left,
  .footer-right {
    margin-bottom: 10px;
  }
  .footer-right img {
    max-width: 80px;
  }
  .footer-left img{
    width: 35vh;
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .footer-left h3 {
    font-size: 0.9rem;
  }
  .footer-right img {
    max-width: 70px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 10px 15px;
  }
  .footer-left h3 {
    font-size: 0.8rem;
  }
  .footer-right img {
    max-width: 60px;
  }
  .footer-left img{
    width: 25vh;
    height: 20vh;
  }
}
