<app-navbar></app-navbar>
<div class="hour-service-section">
    <h2>24 HOUR SERVICE</h2>
    <div class="content">
      <img src="ser_taxi_run.jpg" alt="Taxi Service" class="taxi-image" />
      <div class="text">
        <p>
          Our reliable taxi sedan and van services go far beyond the norm. We not only get you 
          where you need to be, but we transport you with a level of care that can only be achieved 
          through years of experience serving the area.
        </p>
        <p>
          Our taxi operators are local experts who know the best routes to get you to your 
          destination on time. And we rely on GPS technology to further ensure quick, accurate service.
        </p>
      </div>
    </div>
  </div>


  <div class="count-section mt-3">
    <div class="count-container">
      <div class="count-block mx-3">
        <h2 id="passengers-count" class="count">01</h2>
        <p>AIRPORT
            TRANSFER</p>
            <p class="p2">With more than 4000 taxi cabs in its network, TaxiVIP can deliver your parcel to its destination.</p>
      </div>
      <div class="count-block">
        <h2 id="drivers-count" class="count">02</h2>
        <p>PARCEL
            DELIVERY</p>
            <p class="p2" >Take the stress out of travelling to and from the airport by booking one of TaxiVIP reliable taxis.</p>
      </div>
      <div class="count-block">
        <h2 id="routes-count" class="count">03</h2>
        <p >DOOR TO DOOR
            SERVICE</p>
        <p class="p2">Offering door-to-door service with drop-off right at your next destination.</p>
      </div>
    </div>
  </div>
  


  <div class="features-section mt-4">
    <div class="feature">
      <h3>LOCATION CODES</h3>
      <img src="ab_girl.jpg" alt="Location Codes" />
      <p>Businesses can be assigned location codes upon request. This is a 3 or 4 character code specific to your location that can expedite the cab ordering process. When you call in for a cab you will 
        just give the calltaker your code and will not have to give your address.</p>
      <button class="more-info" >More Info</button>
    </div>
    <div class="feature">
      <h3>CORPORATE ACCOUNTS</h3>
      <img src="ab_taxi.jpg" alt="Corporate Accounts" />
      <p>
        A TaxiVIP corporate charge account provides your business or organization with priority access to passenger and package delivery services. Your account is the perfect answer for providing
         transportation to imporatant clients, visiting executives.
      </p>
      <button class="more-info">More Info</button>
    </div>
    <div class="feature">
      <h3>QUOTE & BOOK</h3>
      <img src="ab_car.jpg" alt="Quote and Book" />
      <p>
        Get a fast quote for your transportation needs, then make your reservation online with our convenient booking engine. When you book your 
        taxi online, you can track your taxi's arrival on our website.
      </p>
      <button class="more-info">More Info</button>
    </div>
  </div>
  

  <app-footer></app-footer>
  